<!DOCTYPE html>

<html lang="en" xml:lang="en">
    <head>
        <meta charset="{{ _charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets encore_entry_link_tags('app') %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts encore_entry_script_tags('app') %}
    </body>
</html>
